.container{
    display: flex;
    justify-content: center;
}
.Header {
    width: 80%;
    height: 5vh;
    background: silver;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-sizing: border-box;
}

.Header > a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.Header > a[class='active'] {
    color: red;
}